Java Cwiczenia/JAXB/src/com/andrzej/zyczenia/zyczenia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="zyczenia" type="zyczeniaType"/>
  <xs:complexType name="zyczeniaType">
    <xs:sequence>
      <xs:element type="xs:string" name="tytul"/>
      <xs:element type="xs:string" name="tresc"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>